:root{
    --marquee-width : 100vw;
    --marquee-elements :10;
    --marquee-elements-disaplayed : 6;
    --marquee-element-width : calc(var(--marquee-width)/var(--marquee-elements-disaplayed));
    --marquee-animation-duration : clac(var(--marquee-elements)*2s);

    @include breakpoint-down(medium){
        --marquee-width : 100vw;
        --marquee-elements :10;
        --marquee-elements-disaplayed : 3;
        --marquee-element-width : calc(var(--marquee-width)/var(--marquee-elements-disaplayed));
        --marquee-animation-duration : clac(var(--marquee-elements)*2s);
    }
    @include breakpoint-down(small){
        --marquee-width : 100vw;
        --marquee-elements :10;
        --marquee-elements-disaplayed : 2;
        --marquee-element-width : calc(var(--marquee-width)/var(--marquee-elements-disaplayed));
        --marquee-animation-duration : clac(var(--marquee-elements)*2s);
    }
}
.slides{
    width: var(--marquee-width);
    height: var(--marquee-height);
    background: white;
    position: relative;
    color: $gray1;  
    text-align: center;
}
.slider{
    &__wrap{
        width: 100%;
        height: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;
        //position: relative;
    }
    &__tittle{
        h2{
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        span{
            color: $pink;
        }
    }
    &__underline1{
        background-color: black;
    }
    &__underline2{
        background-color: black;
    }
    &__marquee{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        &::before,&::after{
            content: "";
            position: absolute;
            top: 0;
            width: 10rem;
            height: 100%;
            z-index: 1;
            @include breakpoint-down(small){
                width: 2.5rem;
            }

        }
        &::before{
            left: 0;
            background: linear-gradient(to right, #111 0%, transparent 100%);

        }
        &::after{
            right: 0;
            background: linear-gradient(to left, #111 0%, transparent 100%);
        }
    }
    &__marquee__content{
        list-style: none;
        height: 100%;
        width: 100%;
        display: flex;
        cursor: pointer;
        pointer-events: all !important;
        li{
            width: var(--marquee-element-width);
            flex-shrink: 0;
            font-size: 5rem;
            white-space: nowrap;
            img{
               width: 100%;
               height: 100%;
            }
            animation: scrolling 20s linear infinite;
            @keyframes  scrolling{
                0%{
                    transform : translateX(0);
                }
                100%{
                    transform : translateX(calc(-1*var(--marquee-element-width)*var(--marquee-elements)));
                }
            }
        }
        &:hover{
            animation-play-state: paused !important;
        }
    }
}